{% extends "base.html" %}

{% block content %}

<h2>Results for "{{ query }}"</h2>

<p>{{ books|length }} results found</p>

<div style="
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(150px,1fr));
    gap:20px;
    margin-top:20px;
">
    {% for book in books %}
    <div style="background:#1c1c1c; padding:10px; border-radius:10px;">
        
        {% if book.thumbnail %}
            <img src="{{ book.thumbnail }}" style="width:100%; border-radius:6px;">
        {% else %}
            <div style="height: 310px; background: #222; border-radius: 4px; display: flex; flex-direction:column; align-items: center; justify-content: center; border: 1px solid #333;">
                <span style="font-size: 2rem;">📚</span>
                <span style="color: #555; font-size: 0.8rem; margin-top:10px;">No Cover Found</span>
            </div>
        {% endif %}

        <p style="margin-top:10px; font-size:14px;">
            <a href="{% url 'book_detail' book.olid %}">{{ book.title }}</a>
        </p>

        <small style="color:#aaa;">
            {{ book.authors|join:", " }}
        </small>
    </div>
    {% endfor %}
</div>

{% endblock %}